{% extends "base.html" %}

{% load static %}

{% block title %} Item page{% endblock  %}

{% block style %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static "style.css" %}">

{% endblock  %}

{% block content %}
    {{ block.super }}

   <h1>{{ item.name }} </h1> 

    <div>
        Количество: {{ item.count | default:"Товар отсутствует на складе"}}
    </div>
    <br>
    <div>
        Описание: {{ item.description }}
    </div>
    
    <br><br>
    <a href="{% url "items-list" %}"> Назад к списку товаров </a>

{% endblock  %}